.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    font-size: 60px;
    gap: 20px;
  }

button{
    cursor: pointer;
    margin: 10px 20px;
    padding:10px;
    border:none;
    border-radius: 8px;
    color:white;
    background-color: #333;
}